@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Mono:wght@400;500&display=swap');

:root {
    --accent-color: #660019;
    --bg1: #FFEBF0;
    --bg2: #FFF;
    --font: 'Red Hat Display';
}

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

/* elements */

html,body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    font-family: var(--font), sans-serif;
}

h1 {
    font-size: 1.2rem;
    font-family: var(--font), sans-serif;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-family: var(--font), sans-serif;
}

a {
    color: var(--accent-color);
    font-size: 1rem;
    font-family: var(--font), sans-serif;
    font-weight: 600;
}

button {
    color: white;
    background-color: var(--accent-color);
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 3px black;
    font-family: var(--font), sans-serif;
}

label {
    width: 85%;
    font-size: 1rem;
}

/* classes */

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 33.33;
}

.userInput {
    width: 85%;
    border-radius: 4px;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    font-size: 1.4rem;
    font-family: var(--font), sans-serif;
    outline: 0;
}

.userInput:focus {
    border-color: var(--accent-color);
    border-width: 4px;
    box-shadow: 0 4px 3px -3px;
}

.creditLink {
    font-size: 0.8rem;
}

.error {
    border: 4px solid red;
}

/* IDs */

#leftDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33vw;
    height: 100vh;
    background-image: url(./backgroundImage.jpg);
}

#logoDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15vh;
    margin-top: 37%;
    background-color: rgba(0, 0, 0, 0.5)
}

#logo {
    color: white;   
    font-family: 'Red Hat Mono', sans-serif; 
    font-size: 4rem;
    text-decoration: underline;
}

#credit {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.8rem;}

#rightDiv {
    width: 66.66vw;
    display: flex;
    flex-direction: column;
}

#topDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: var(--bg2);
}

#header1 {
    width: 90%;
    padding-left: 5.5%;
}

#header2 {
    width: 90%;
    padding-left: 5.5%;
    margin-top: 3%;
}

#midDiv {
    height: 40vh;
    box-shadow: 3px 10px 10px -8px darkgray;
    z-index: 2;
    background-color: var(--bg1);
}

#midText {
    padding-left: 8%;
    margin-top: 2%;
    margin-bottom: 1%;
}

#userInfoPane {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    width: 90%;
}

#userInputs {
    width: 83%;
    height: 100%;
}

#topInputs,#middleInputs,#bottomInputs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 33.33%;
    width: 100%;
}

#passwordError {
    color: red;
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: -3px;
}

#botDiv {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    height: 30%;
    background-color: var(--bg2);
}

#firstName,#lastName,#email,#phoneNumber,#password,#confirmPassword {
    margin-right: 20%;
}

#createAccount {
    width: 27%;
    height: 18%;
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 7.5%;
    margin-top: 5%;
}

#createAccount:hover {
    background-color: white;
    color: var(--accent-color);
    border: 3px solid var(--accent-color);
}

#bottomText {
    font-size: 1rem;
    margin-left: 7.5%;
    margin-top: 1%;
}